// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.border-lr {
	border-color: #ececec;
}

.bg-lr {
	background-color: #008dff;
}

.btn-lr {
	background-color: #008dff;
	border-color: #008dff;
	color: white;
}

.btn-lr:hover {
	background-color: #0888ef;
	border-color: #0888ef;
	color: white;
}

.link-lr {
	color: #008dff;
}

.link-lr:hover {
	color: #0888ef;
}

.page-item .page-link{
	color: #008dff !important;
}

.page-item.active .page-link {
	background-color: #008dff !important;
	border-color: #008dff !important;
	color: white !important;
}